@import "variables";

label {
  color: gray;
  font-weight: bolder;
}
input {
  color: $grayish;
  width: 100%;

  border-color: white white lightgray white !important;
}

textarea {
  border-color: white white lightgray white !important;
}

#send {
  background-color: $greenish;
  color: white;
  font-weight: bolder;
  margin-left: 15px;
  margin-bottom: 100px;
}
