@import "variables";

@import "mixins";

#star {
  background-color: $greenish;
  p {
    color: white;
    font-weight: bolder;
    font-size: 28px;
  }
}

#i {
  @include icons(20px);
}

.row {
  margin-top: -2px !important;
  //   margin-bottom: 0px !important;
}

#dash {
  margin-left: 0px;
  margin-right: -12px;
  font-size: 40px;
}
#star_icon {
  margin-left: 10px;
  font-size: 40px;
}
