@import "variables";

#wrapper {
  background-color: $greenish;
}
img {
  background-color: $greenish;
}

#b_and_s {
  background-color: $greenish;
  font-weight: bolder;
  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
  @media screen and (min-width: 768px) {
    font-size: 56px;
  }

  p {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      text-align: center;
      max-width: 650px;
      padding-left: 90px;
      padding-right: 90px;
    }
    @media screen and (min-width: 992px) {
      max-width: unset;
    }
  }
}
#artist {
  background-color: $greenish;
  p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 570px;
    @media screen and (min-width: 992px) {
      max-width: unset;
    }
  }
  padding-bottom: 20px;
}
