.first_unordered {
  list-style-type: circle;
}
.second_unordered {
  list-style-type: square;
}
.first_ordered {
  list-style-type: upper-alpha;
}
.second_ordered {
  list-style-type: upper-roman;
}

.third_unordered {
  width: 200px;
  list-style-image: url(https://www.w3schools.com/cssref/sqpurple.gif);
}

.fourth_unordered {
  width: 200px;
  list-style-position: inside;
  list-style-image: url(https://www.w3schools.com/cssref/sqpurple.gif);
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.header_row {
  background-color: red;
  color: white;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.odd {
  background-color: lightgrey;
}

tr:hover {
  background-color: yellow;
}

form {
  background-color: rgb(240, 238, 238);
  width: 400px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
span {
  color: orange;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

input {
  height: 30px;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  height: 36px;
  border-color: rgb(167, 2, 2);
  background-color: rgb(167, 2, 2);
  color: white;
  border-radius: 5px;
  width: 308px;
  margin-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 20px;
}

input:hover {
  cursor: move;
  background-color: blue;
}

h1:hover {
  cursor: grab;
}

button:hover {
  cursor: url("https://cdn-icons-png.flaticon.com/512/88/88221.png");
}

div {
  text-align: left;
  padding-left: 45px;
  margin-top: 20px;
}

hr {
  width: 304px;
}
