$paragraphColor_1: darkred;
$paragraphColor_2: darkblue;
$paragraphColor_3: darkorange;
$paragraphColor_4: darkgreen;
$contentColor: rgb(255, 200, 0);
$fontSize: 23px;
$containerWidth: 960px;
$placeholderWidth: 300px;
$placeholderHeight: 200px;
$paragraphWidth: 305px;
$footerColor: darkblue;
$footerWidth: 1280px;
* {
  box-sizing: border-box;
  border-width: 0px;
}
.container {
  width: $containerWidth;
  margin: auto;
}

ul {
  background-color: darkred;
  color: white;
  overflow: hidden;
  margin-bottom: 1px;

  li {
    display: inline;
    margin-left: 15px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-right: 15px;
  }
}

img {
  width: $containerWidth;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.two_p {
  margin-top: -100px;
}

@mixin box-shadow($size) {
  box-shadow: $size $size $size $size black;
}

.placeholder {
  @include box-shadow(5px);
  color: white;
  font-size: $fontSize;
  border-width: 0px 0px 0px 0px;
  display: inline-block;
  width: $placeholderWidth;
  height: $placeholderHeight;
  text-align: center;
  margin-right: -4px;
  margin-left: calc(($containerWidth - 3 * ($placeholderWidth)) / 4);
  p {
    padding-top: calc(($placeholderHeight - ($fontSize + 3px)) / 2);
    margin: 0px;
  }
}

.content {
  display: inline-block;
  margin-left: 15px;
  width: $containerWidth - 2 * $placeholderWidth - 3 * 15px;
  margin-right: 0px;
  background-color: $contentColor;
  p {
    font-size: $fontSize;
    padding-left: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
}

@mixin text-shadow($size) {
  text-shadow: $size $size $size purple;
}

.paragraph {
  @include text-shadow(2px);
  width: $paragraphWidth;
  display: inline-block;
  font-size: $fontSize;
  margin-left: 15px;
  margin-right: -4px;
}

@for $i from 1 through 4 {
  .placeholder-#{$i} {
    @if $i==1 {
      background-color: $paragraphColor_1;
    } @else if $i==2 {
      background-color: $paragraphColor_2;
    } @else if $i==3 {
      background-color: $paragraphColor_3;
    } @else if $i==4 {
      background-color: $paragraphColor_4;
    }
  }
}
.footer {
  background-color: $footerColor;
  color: white;
  width: $footerWidth;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  span {
    margin-left: calc(175px / 1280px * 100%);
  }
}
