li {
  display: inline;
  margin-left: 15px;
  padding: 5px 8px 5px 8px;
}
ul {
  background-color: orange;
  width: 500px;
  height: 30px;
  padding-top: 10px;
}

li:hover {
  background-color: lightgray;
}

.dropdown-content {
  margin-left: 173px;
  padding-top: 0px;
  background-color: white;
  max-width: 286px;
  display: none;
  position: absolute;
}

.menu2 {
  position: relative;
}
.menu2:hover .dropdown-content {
  display: block;
}

.submenu {
  display: block;
  margin-left: -40px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
